apiVersion: v1
kind: Service
metadata:
  name: validation-service
  namespace: pms
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: "/actuator/prometheus"
    prometheus.io/port: "8080"
spec:
  selector:
    app: validation-service
  ports:
  - port: 8080
    targetPort: 8080
  type: ClusterIP
