apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: pms
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:16
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_USER
          value: "pms"
        - name: POSTGRES_PASSWORD
          value: "pms"
        - name: POSTGRES_DB
          value: "pmsdb"
        volumeMounts:
        - name: pgdata
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: pgdata
        persistentVolumeClaim:
          claimName: postgres-pvc
