# PostgreSQL Credentials
POSTGRES_USER=pms
POSTGRES_PASSWORD=pms
POSTGRES_DB=pmsdb

# RabbitMQ Credentials
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# Kafka Cluster ID
KAFKA_CLUSTER_ID=dOFfvAcdQZKE60Enfcsefg
