apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: pms
spec:
  selector:
    app: kafka
  ports:
  - name: plaintext
    port: 9092
    targetPort: 9092
  - name: internal
    port: 19092
    targetPort: 19092
  - name: controller
    port: 9093
    targetPort: 9093
  type: ClusterIP
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kafka-pvc
  namespace: pms
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
