apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: pms
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      hostname: redis
      containers:
      - name: redis
        image: redislabs/redismod
        ports:
        - containerPort: 6379
        command:
        - redis-server
        args:
        - --loadmodule
        - /usr/lib/redis/modules/redisai.so
        - ONNX
        - redisai_onnxruntime/redisai_onnxruntime.so
        - TF
        - redisai_tensorflow/redisai_tensorflow.so
        - TFLITE
        - redisai_tflite/redisai_tflite.so
        - TORCH
        - redisai_torch/redisai_torch.so
        - --loadmodule
        - /usr/lib/redis/modules/redisearch.so
        - --loadmodule
        - /usr/lib/redis/modules/redisgraph.so
        - --loadmodule
        - /usr/lib/redis/modules/redistimeseries.so
        - --loadmodule
        - /usr/lib/redis/modules/rejson.so
        - --loadmodule
        - /usr/lib/redis/modules/redisbloom.so
        - --loadmodule
        - /usr/lib/redis/modules/redisgears.so
        - --appendonly
        - "yes"
        volumeMounts:
        - name: redis-data
          mountPath: /data
      volumes:
      - name: redis-data
        persistentVolumeClaim:
          claimName: redis-pvc
