apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: pms
spec:
  selector:
    app: redis
  ports:
  - port: 6379
    targetPort: 6379
  type: ClusterIP
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-pvc
  namespace: pms
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
